body{
    background-color:rgb(28, 28, 28);
    background-image: url("../img/fongo4.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: black;
}

.inicio{
    
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.inicio h1{
color: black;
font-size: 100 px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
}

.inicio img{

    border-radius: 100%;
    border: 5px solid white;
}

.galeria{
display: flex;

}
.galeria img{

width: 150px;
height: 150xp;

}


nav li {

margin: 0 16px;
}






